:root {
    --bg-color: #f7f9f9;
    --calc-bg: #ffffff;
    --display-bg: #eef3f3;

    --text-color: #00272C;

    --button-bg: #e4eded;
    --button-hover: #d6e4e4;

    --accent: #E1FF51;
    --accent-text: #00272C;

    --equals-bg: var(--accent);
    --equals-hover: #c8e645;

    --border: #d0dcdc;
}

body.dark {
    --bg-color: #001a1d;
    --calc-bg: #00272C;
    --display-bg: #001f23;

    --text-color: #eaffea;

    --button-bg: #01363c;
    --button-hover: #014a52;

    --accent: #E1FF51;
    --accent-text: #00272C;

    --equals-bg: var(--accent);
    --equals-hover: #c8e645;

    --border: #014a52;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--bg-color);
}

.calculator{
    border: 1px solid var(--border);
    background-color: var(--calc-bg);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#display{
    background-color: var(--display-bg);
    color: var(--text-color);
    font-size: 2em;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: right;
    border: none;
    outline: none;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button{
    padding: 20px;
    font-size: 1.5em;
    border: none;
    border-radius: 5px;
    background-color: var(--button-bg);
    color: var(--text-color);
    cursor: pointer;
    transition: all 0.08s ease;
}

button:hover{
    background-color: var(--accent);
    color: var(--accent-text);
}

#equals{
    background-color: var(--equals-bg);
    color: var(--accent-text);
    grid-column: span 4;
}

#equals:hover{
    background-color: var(--equals-hover);
}

button.active {
  transform: scale(0.92);
  background: var(--accent);
  color: var(--accent-text);
  box-shadow: 0 0 8px var(--accent);
}

#themeToggle {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  background: transparent;
}

.app{
    display:flex;
    gap: 20px;
}

.history{
    width: 200px;
    background: var(--calc-bg);
    border: 1px solid var(--border);
    border-radius: 10px;
    padding: 10px;
    color: var(--text-color);
}

.history h3{
    margin-bottom: 10px;
    font-size: 1.2em;
}

#historylist{
    list-style: none;
    max-height: 250px;
    overflow-y; auto;
    padding: 0;
}

#historylist li{
    padding: 5px;
    border-bottom: 1px solid var(--border);
    cursor: pointer;
}

#historylsit li:hover{
    background: var(--button-hover);
}